第一次实战做kaggle上的dataset

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('C:\\Users\ROG\Documents\GitHub\Kaggle_Datasets\Hotel\data\Hotel Reservations.csv')
df.head(10)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,7,6,Offline,0,0,0,96.90,1,Not_Canceled
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,10,18,Online,0,0,0,133.44,3,Not_Canceled

预测客户兑现或者取消预订

用什么算法？是否要清洗数据？怎么把文字信息转换为数字信息？

### <font color=#0dd3de>将字符串改成数字的两种方法</font>

#### 第一种 映射

In [ ]:
df['room_type_reserved'] = pd.factorize(df['room_type_reserved'])[0].astype(int)

In [ ]:
df.head(10)

#### 第二种 One-hot 独热编码

使用第一种方法将所有特征数字化

In [ ]:
df['room_type_reserved'] = pd.factorize(df['room_type_reserved'])[0].astype(int)
df['type_of_meal_plan'] = pd.factorize(df['type_of_meal_plan'])[0].astype(int)
df['market_segment_type'] = pd.factorize(df['market_segment_type'])[0].astype(int)
df['booking_status'] = pd.factorize(df['booking_status'])[0].astype(int)
df.head()

是否有种方法可以让不同字符串变成我想要的特定值 例如 type_of_meal_plan 中，Not select 为0，Meal plan1 为1

In [ ]:
df.corr(numeric_only=True)

booking_status 与 lead_time中等相关 arrival_year//repeated_guest//avg_price_per_room//no_of_special_requests低相关

尝试使用SVM

In [ ]:
X = df.lead_time
y = df.booking_status
X = X.values.reshape(-1, 1)
y = y.values.reshape(-1, 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

clf = svm.SVC()
clf.fit(X_train, y_train)
predicted = clf.predict(X_test)
print(accuracy_score(predicted, y_test))

In [ ]:
X = df.lead_time
y = df.booking_status
X = X.values.reshape(-1, 1)
y = y.values.reshape(-1, 1)
print(X.shape, y.shape)
X, y

In [59]:
a = df.lead_time
b = df.arrival_year
c = df.repeated_guest
d = df.avg_price_per_room
e = df.no_of_special_requests

a = a.values.reshape(-1, 1)
b = b.values.reshape(-1, 1)
c = c.values.reshape(-1, 1)
d = d.values.reshape(-1, 1)
e = e.values.reshape(-1, 1)

X = np.hstack((a, b, c, d, e))
y = df.booking_status

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

clf = svm.SVC()
clf.fit(X_train, y_train)
predicted = clf.predict(X_test)
print(accuracy_score(predicted, y_test))

0.7668841312138197

In [ ]:
keys = ['lead_time', 'arrival_year', 'repeated_guest', 'avg_price_per_room', 'no_of_special_requests']

for i in keys:
    a = df.i
    a = a.values.reshape(-1, 1)
    a = np.append
    print(a)

AttributeError: ‘Series’ object has no attribute ‘reshape’

翻译：Series 数据类型没有reshape函数

解决方法：用values方法将Series 对象转化为numpy 的ndarray，再用ndarray的reshape方法